{% extends "template.html" %}

{% block title %}2024 Palmyra NY Stake Conference - Adult Leadership Session{% endblock %}

{% block content %}
    <p class="text-center pt-8 font-bold">PALMYRA NEW YORK STAKE</p>
    <p class="text-center font-bold">STAKE CONFERENCE</p>
    <p class="text-center font-bold">ADULT LEADERSHIP SESSION</p>
    <p class="text-center font-normal">SATURDAY, MAY 18, 2024<br/>4:00 P.M. TO 6:00 P.M.</p>
    <p class="text-center font-normal">PALMYRA NEW YORK STAKE CENTER</p>

    <table class="border-separate p-8 leading-10 border-separate border-spacing-y-8 font-normal">
        <tbody>
            <tr>
                <td class="text-left">Presiding:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/learn/allen-d-haynie?lang=eng">Elder Allen D. Haynie</a><br/><i>Area President North America Northeast Area</i></td>
            </tr>
            <tr>
                <td class="text-left">Conducting:</td>
                <td class="text-right">President Ed S. Nabrotzky<br/><i>Palmyra Stake President</i></td>
            </tr>
            <tr>
                <td class="text-left">Chorister:</td>
                <td class="text-right">Tony Collie - <i>Palmyra Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Organist:</td>
                <td class="text-right">Greg Crystal - <i>Canandaigua Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Welcome &amp; Announcements:</td>
                <td class="text-right">President Ed S. Nabrotzky<br/><i>Palmyra Stake President</i></td>
            </tr>
            <tr>
                <td class="text-left">Opening Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/media/music/songs/lord-i-would-follow-thee?crumbs=hymns&lang=eng">#220, <i>"Lord, I Would Follow Thee"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Invocation:</td>
                <td class="text-right">Sister Chloe Griswold<br/><i>Lyons Ward Relief Society Presidency 1st Counselor</i></td>
            </tr>
            <tr>
                <td class="text-left">Facilitator:</td>
                <td class="text-right">President Ed S. Nabrotzky<br/><i>Palmyra Stake President</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker Panel:</td>
                <td class="text-right">Bishop James Thibert &amp; the Fayette Ward Council</td>
            </tr>
            <tr>
                <td class="text-left">Intermediate Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/media/music/songs/israel-israel-god-is-calling?crumbs=hymns&lang=eng">37, <i>"Israel, Israel God is Calling"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Elder Alan D. Haynie<br/><i>Area President North America Northeast Area</i></td>
            </tr>
            <tr>
                <td class="text-left">Closing Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/media/music/songs/i-stand-all-amazed?crumbs=hymns&lang=eng">#193 <i>"I Stand All Amazed"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Benediction:</td>
                <td class="text-right">Greg Wright - <i>Counselor, Hornell Branch Presidency</i></td>
            </tr>
        </tbody>
    </table>

    <!-- 
        <a href="#" class="px-7 py-3 md:px-9 md:py-4 font-medium md:font-semibold bg-gray-700 text-gray-50 text-sm rounded-md hover:bg-gray-50 hover:text-gray-700 transition ease-linear duration-500">Hire me</a>
    -->
{% endblock %}