{% extends "template.html" %}

{% block title %}2024 Palmyra NY Stake Conference - Adult Leadership Session{% endblock %}

{% block content %}
    <p class="text-center font-bold pt-8">Palmyra NY Stake Conference</p>
    <p class="text-center font-bold">GENERAL LEADERSHIP MEETING</p>
    <p class="text-center font-normal">Saturday, May 18 | 4:00 – 6:00 PM</p>
    <p class="text-center font-normal roboto-regular-italic">Covenant Path and the Rising Generation</p>
    <table class="border-separate p-8 leading-10 border-separate border-spacing-y-8">
        <tbody>
            <tr>
                <td>Presiding:</td>
                <td><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/learn/allen-d-haynie?lang=eng">Elder Allen D. Haynie, Area President North America Northeast Area</a></td>
            </tr>
            <tr>
                <td>Conducting:</td>
                <td>President Ed S. Nabrotzky, Palmyra Stake President</td>
            </tr>
            <tr>
                <td>Chorister:</td>
                <td>Tony Collie - Palmyra Ward</td>
            </tr>
            <tr>
                <td>Organist:</td>
                <td>Greg Crystal - Canandaigua Ward</td>
            </tr>
            <tr>
                <td>Welcome and Announcements:</td>
                <td>President Nabrotzky</td>
            </tr>
            <tr>
                <td>Opening Hymn:</td>
                <td><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/media/music/songs/lord-i-would-follow-thee?crumbs=hymns&lang=eng">“Lord, I Would Follow Thee” - Hymn #220</a></td>
            </tr>
            <tr>
                <td>Invocation:</td>
                <td>Sister Chloe Griswold, Lyons Ward Relief Society Presidency</td>
            </tr>
            <tr>
                <td>Speaker:</td>
                <td>President Nabrotzky will facilitate a discussion on leadership and focus, using an example ward council and discussing best practices with the assembled leadership</td>
            </tr>
            <tr>
                <td>Speaker Panel:</td>
                <td>Bishop James Thibert and the Fayette Ward Council will demonstrate an example of a council and how they address areas of responsibility</td>
            </tr>
            <tr>
                <td>Intermediate Hymn:</td>
                <td><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/media/music/songs/israel-israel-god-is-calling?crumbs=hymns&lang=eng">“Israel, Israel God is Calling” - Hymn #7</a></td>
            </tr>
            <tr>
                <td>Speaker:</td>
                <td>President Haynie</td>
            </tr>
            <tr>
                <td>Closing Hymn:</td>
                <td><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/media/music/songs/i-stand-all-amazed?crumbs=hymns&lang=eng">“I Stand All Amazed” - Hymn #193</a></td>
            </tr>
            <tr>
                <td>Benediction:</td>
                <td>Greg Wright - Counselor, Hornell Branch Presidency</td>
            </tr>
        </tbody>
    </table>

    <!-- 
        <a href="#" class="px-7 py-3 md:px-9 md:py-4 font-medium md:font-semibold bg-gray-700 text-gray-50 text-sm rounded-md hover:bg-gray-50 hover:text-gray-700 transition ease-linear duration-500">Hire me</a>
    -->
{% endblock %}