{% extends "template.html" %}

{% block title %}2024 Palmyra NY Stake Conference - Adult Leadership Session{% endblock %}

{% block content %}
    <p class="text-center pt-8 font-bold">Palmyra NY Stake Conference</p>
    <p class="text-center font-bold">SUNDAY GENERAL SESSION</p>
    <p class="text-center font-normal ">Sunday, May 19 | 10:00 AM – 12:00 PM</p>
    <p class="text-center roboto-regular-italic">Christ as our Personal Savior and Redeemer</p>
    <table class="border-separate p-8 leading-10 border-separate border-spacing-y-8">
        <tbody>
            <tr>
                <td>Presiding:</td>
                <td><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/learn/allen-d-haynie?lang=eng">Elder Allen D. Haynie, Area President North America Northeast Area</a></td>
            </tr>
            <tr>
                <td>Conducting:</td>
                <td>President Robert R. Mayo, Palmyra Stake Presidency Second Counselor</td>
            </tr>
            <tr>
                <td>Chorister:</td>
                <td>Jessica Vance - Palmyra Ward</td>
            </tr>
            <tr>
                <td>Organist:</td>
                <td>Jessica Pierson - Mendon Ward</td>
            </tr>
            <tr>
                <td>Welcome:</td>
                <td>President Robert R. Mayo, 2nd Counselor, Stake Presidency</td>
            </tr>
            <tr>
                <td>Opening Hymn:</td>
                <td><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/media/music/songs/the-lord-is-my-light?crumbs=hymns&lang=eng">“The Lord Is My Light” - Hymn #89</a></td>
            </tr>
            <tr>
                <td>Invocation:</td>
                <td>Suzette Campnell - Boughton Hill Ward</td>
            </tr>
            <tr>
                <td>Stake Business:</td>
                <td>President Robert R. Mayo, 2nd Counselor, Stake Presidency</td>
            </tr>
            <tr>
                <td>Musical Number:</td>
                <td>“I Feel my Savior’s Love” - Stake Primary Choir</td>
            </tr>
            <tr>
                <td>Speaker:</td>
                <td>President Edmund S. Nabrotzky, Palmyra Stake President</td>
            </tr>
            <tr>
                <td>Speaker:</td>
                <td>Grace Bylund - Mendon Ward</td>
            </tr>
            <tr>
                <td>Speaker:</td>
                <td>Jacques Figaro - Penn Yan Branch</td>
            </tr>
            <tr>
                <td>Speaker:</td>
                <td>Rosemary Christensen - Whitney Ward</td>
            </tr>
            <tr>
                <td>Speaker:</td>
                <td><a class="text-sky-600 underline" target="_blank" href="https://newsroom.churchofjesuschrist.org/article/church-historic-sites-leaders-who-will-begin-serving-2024">President Thomas B. McCoy and Sister Lani Jo McCoy, New York and Pennsylvania Historic Sites Mission</a></td>
            </tr>
            <tr>
                <td>Intermediate Hymn:</td>
                <td><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/media/music/songs/redeemer-of-israel?crumbs=hymns&lang=eng">“Redeemer of Israel” - Hymn #6</a></td>
            </tr>
            <tr>
                <td>Speaker:</td>
                <td><a class="text-sky-600 underline" target="_blank" href="https://www.thechurchnews.com/2021/1/16/23265244/16-new-mission-presidents-companions-ghana-colombia-korea-japan-norway-england/">President Evan Gentry and Sister Sandi Gentry, Mission President, New York Syracuse Mission</a></td>
            </tr>
            <tr>
                <td>Speaker:</td>
                <td>Elder Allen D. Haynie and Sister Deborah Haynie</td>
            </tr>
            <tr>
                <td>Closing Hymn:</td>
                <td><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/media/music/songs/o-thou-rock-of-our-salvation?crumbs=hymns&lang=eng">“O, Thou Rock of Our Salvation” - Hymn #258</a></td>
            </tr>
            <tr>
                <td>Benediction:</td>
                <td>Emily Underwood - Canandaigua Ward</td>
            </tr>
        </tbody>
    </table>
{% endblock %}