{% extends "template.html" %}

{% block title %}2024 Palmyra NY Stake Conference - General Session{% endblock %}

{% block content %}
<p class="text-center pt-8 font-bold">PALMYRA NEW YORK STAKE</p>
<p class="text-center font-bold">STAKE CONFERENCE</p>
<p class="text-center font-bold">GENERAL SESSION</p>
<p class="text-center font-normal">SUNDAY, MAY 19, 2024<br />10:00 A.M. TO 12:00 P.M.</p>
<p class="text-center font-normal">PALMYRA NEW YORK STAKE CENTER</p>
<p class="p-8">
    <center><img class="shadow-md" src="{{ url_for('static', path='/temple.jpg') }}" /></center>
</p>
<table class="border-separate p-8 border-separate font-normal w-full">
    <tr>
        <td class="text-center font-bold">"The temple <i>is</i> the gateway to the greatest blessings God has in store
            for each of us, for the temple is the only place on earth where we may receive <i>all</i> of the blessings
            promised to Abraham."</td>
    </tr>
    <tr>
        <td class="text-right font-bold">Russell M. Nelson</td>
    </tr>
</table>

<div class="p-8 overflow-auto relative ">
    <table class="table-auto border-separate border-spacing-y-8 font-normal w-full">
        <tbody>
            <tr>
                <td class="text-left">Presiding:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank"
                        href="https://www.churchofjesuschrist.org/learn/allen-d-haynie?lang=eng">Elder Allen D.
                        Haynie</a><br /><i>Area President North America Northeast Area</i></td>
            </tr>
            <tr>
                <td class="text-left">Conducting:</td>
                <td class="text-right">President Robert R. Mayo<br /><i>Palmyra Stake Presidency 2nd Counselor</i></td>
            </tr>
            <tr>
                <td class="text-left">Chorister:</td>
                <td class="text-right">Jessica Vance - <i>Palmyra Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Organist:</td>
                <td class="text-right">Jessica Pierson - <i>Mendon Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Welcome:</td>
                <td class="text-right">President Robert R. Mayo<br /><i>Palmyra Stake Presidency 2nd Counselor</i></td>
            </tr>
            <tr>
                <td class="text-left">Opening Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank"
                        href="https://www.churchofjesuschrist.org/media/music/songs/the-lord-is-my-light?crumbs=hymns&lang=eng">#89,
                        <i>"The Lord Is My Light"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Invocation:</td>
                <td class="text-right">Suzette Campnell - <i>Boughton Hill Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Stake Business:</td>
                <td class="text-right">President Robert R. Mayo<br /><i>Palmyra Stake Presidency 2nd Counselor</i></td>
            </tr>
            <tr>
                <td class="text-left">Musical Number:</td>
                <td class="text-right"><i>"I Feel my Savior's Love"</i> - Stake Primary Choir</td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">President Edmund S. Nabrotzky<br /><i>Palmyra Stake President</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Grace Bylund - <i>Mendon Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Jacques Figaro - <i>Penn Yan Branch</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Rosemary Christensen - <i>Whitney Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank"
                        href="https://newsroom.churchofjesuschrist.org/article/church-historic-sites-leaders-who-will-begin-serving-2024">President
                        Thomas B. McCoy &amp; Sister Lani Jo McCoy</a><br /><i>New York and Pennsylvania Historic Sites
                        Mission</i></td>
            </tr>
            <tr>
                <td class="text-left">Intermediate Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank"
                        href="https://www.churchofjesuschrist.org/media/music/songs/redeemer-of-israel?crumbs=hymns&lang=eng">#6,
                        <i>"Redeemer of Israel"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank"
                        href="https://www.thechurchnews.com/2021/1/16/23265244/16-new-mission-presidents-companions-ghana-colombia-korea-japan-norway-england/">President
                        Evan Gentry &amp; Sister Sandi Gentry</a><br /><i>New York Syracuse Mission</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Elder Alan D. Haynie &amp; Sister Deborah Haynie<br /><i>Area President North
                        America Northeast Area</i></td>
            </tr>
            <tr>
                <td class="text-left">Closing Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank"
                        href="https://www.churchofjesuschrist.org/media/music/songs/o-thou-rock-of-our-salvation?crumbs=hymns&lang=eng">#
                        258 <i>"O, Thou Rock of Our Salvation"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Benediction:</td>
                <td class="text-right">Emily Underwood - <i>Canandaigua Ward</i></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="p-8 overflow-auto relative ">
    <table class="table-auto border-separate border-spacing-y-4 font-normal w-full sm:text-2xl">
        <tbody>
            <tr>
                <th colspan="4">Missionaries Called and Serving from the Palmyra, NY Stake</th>
            </tr>
            <tr class="text-left">
                <th>Name</th>
                <th>Ward</th>
                <th>Mission</th>
                <th>Start Date</th>
            </tr>
            <tr class="text-left">
                <td>Elder Jared Bjorling</td>
                <td>Canandaigua</td>
                <td>England Leeds</td>
                <td>7-Aug-23</td>
            </tr>
            <tr class="text-left">
                <td>Elder Marc Schaefer</td>
                <td>Canandaigua</td>
                <td>Philippines Baguio</td>
                <td>21-Nov-22</td>
            </tr>
            <tr class="text-left">
                <td>Elder Lehi Weed</td>
                <td>Canandaigua</td>
                <td>Colorado Denver South </td>
                <td>19-Jun-23</td>
            </tr>
            <tr class="text-left">
                <td>Elder Holden Dorr</td>
                <td>Lyons</td>
                <td>Czech/Slovak</td>
                <td>23-Jan-23</td>
            </tr>
            <tr class="text-left">
                <td>Elder Thomas Gaver</td>
                <td>Lyons</td>
                <td>California Newport Beach</td>
                <td>14-Nov-22</td>
            </tr>
            <tr class="text-left">
                <td>Sister Ella Gaver</td>
                <td>Lyons</td>
                <td>Florida Ft Lauderdale</td>
                <td>13-Mar-23</td>
            </tr>
            <tr class="text-left">
                <td>Elder Joseph Rouland (May)</td>
                <td>Lyons</td>
                <td>Washington Spokane</td>
                <td>4-Jul-22</td>
            </tr>
            <tr class="text-left">
                <td>Sister Emma Garry</td>
                <td>Mendon</td>
                <td>Mozambique Maputo</td>
                <td>9-Jan-23</td>
            </tr>
            <tr class="text-left">
                <td>Sister Rachel Newcomb</td>
                <td>Mendon</td>
                <td>Hawaii Laie</td>
                <td>4-Mar-24</td>
            </tr>
            <tr class="text-left">
                <td>Elder Joseph Leyva</td>
                <td>Palmyra</td>
                <td>Arizona Flagstaff</td>
                <td>21-Nov-22</td>
            </tr>
            <tr class="text-left">
                <td>Elder Dylan Vance</td>
                <td>Palmyra</td>
                <td>Peru Chiclayo</td>
                <td>16-Oct-23</td>
            </tr>
            <tr class="text-left">
                <td>Sister Lydia Campbell</td>
                <td>Whitney</td>
                <td>Brazil Ribeirão Preto</td>
                <td>12 Feb 24</td>
            </tr>
            <tr class="text-left">
                <td>Elder Phillip Henderson</td>
                <td>Whitney</td>
                <td>Panamá Panamá City</td>
                <td>21-Nov-22</td>
            </tr>
            <tr class="text-left">
                <td>Elder Isaac McBeth</td>
                <td>Whitney</td>
                <td>Utah Orem North Service Area</td>
                <td>7-Nov-22</td>
            </tr>
            <tr class="text-left">
                <td>Elder Kaelen Ruder</td>
                <td>Whitney</td>
                <td>Germany Berlin</td>
                <td>6-Jun-22</td>
            </tr>
            <tr class="text-left">
                <td>Sister Rachel Sorensen</td>
                <td>Whitney</td>
                <td>Washington Kennewick</td>
                <td>29-May-23</td>
            </tr>
            <tr>
                <th colspan="4" class="text-left">Sennior Missionaries</th>
            </tr>
            <tr class="text-left">
                <th>Name</th>
                <th>Ward</th>
                <th>Mission</th>
                <th>Start Date</th>
            </tr>
            <tr class="text-left">
                <td>Elder &amp; Sister Whitcomb</td>
                <td>Boughton Hill</td>
                <td>Bishops Storehouse</td>
                <td>1-Jan-24</td>
            </tr>
            <tr class="text-left">
                <td>Elder &amp; Sister Nichols</td>
                <td>Canandaigua</td>
                <td>Bishops Storehouse Assistants</td>
                <td>2-Apr-24</td>
            </tr>
            <tr class="text-left">
                <td>Sister Jones</td>
                <td>Fayette</td>
                <td>Seneca Lake Camp</td>
                <td>5-Jun-24</td>
            </tr>
            <tr class="text-left">
                <td>Elder &amp; Sister Cook</td>
                <td>Mendon</td>
                <td>NY Syracuse Service Mission Leaders</td>
                <td>10-Dec-18</td>
            </tr>
            <tr class="text-left">
                <td>Elder Hansen</td>
                <td>Palmyra</td>
                <td>Family Search Service Missionary</td>
                <td>17-Jun-23</td>
            </tr>
            <tr class="text-left">
                <td>Elder &amp; Sister Harmer</td>
                <td>Palmyra</td>
                <td>Seneca Lake Camp</td>
                <td>2-Apr-24</td>
            </tr>
            <tr class="text-left">
                <td>Sister Leyva</td>
                <td>Palmyra</td>
                <td>Washington Yakima</td>
                <td>27-Jun-23</td>
            </tr>
            <tr class="text-left">
                <td>Elder Reynolds &amp; Sister Diaz-Reynolds</td>
                <td>Palmyra</td>
                <td>New York Syracuse</td>
                <td>2-Apr-24</td>
            </tr>
            <tr>
                <th colspan="4">Missionaries Called and Preparing to Serve</th>
            </tr>
            <tr class="text-left">
                <th>Name</th>
                <th>Ward</th>
                <th>Mission</th>
                <th>Start Date</th>
            </tr>
            <tr class="text-left">
                <td>Ava Hawkins</td>
                <td>Boughton Hill</td>
                <td>California Sacramento</td>
                <td>23-Sep-24</td>
            </tr>
            <tr class="text-left">
                <td>Grace Woodworth</td>
                <td>Boughton Hill</td>
                <td>Brazil Santa Maria</td>
                <td>16-Sep-24</td>
            </tr>
            <tr class="text-left">
                <td>Elizabeth Yoder</td>
                <td>Canandaigua</td>
                <td>Portugal Lisbon</td>
                <td>8-Jul-24</td>
            </tr>
            <tr class="text-left">
                <td>Jude York</td>
                <td>Canandaigua</td>
                <td>Guatemala Quetzaltenango</td>
                <td>22-Jul-24</td>
            </tr>
            <tr class="text-left">
                <td>Deb Stuetz</td>
                <td>Whitney</td>
                <td>Santiago Chile North</td>
                <td>16-Sep-24</td>
            </tr>
            <tr class="text-left">
                <td>Diane Cary</td>
                <td>Whitney</td>
                <td>New York Syracuse</td>
                <td>17-Jun-24</td>
            </tr>
            <tr class="text-left">
                <td>Landon Ruder</td>
                <td>Whitney</td>
                <td>Argentina Resistencia</td>
                <td>5-Aug-24</td>
            </tr>
            <tr>
                <td colspan="4" class="text-center roboto-bold-italic">We express love and appreciation for all those serving missions from our stake, but also to those serving in our stake as temple, site, camp, specialist and proselytizing missionaries.  Thank you for your consecrated and inspiring service to us.</td>
            </tr>
            <tr>
                <td colspan="4" class="text-center roboto-bold-italic">Note that we also acknowledge and appreciate that several of our members have stepped forward to serve in the military to protect our country.  Our grateful prayers are with you.</td>
            </tr>
        </tbody>
    </table>
</div>





<!--
<div id="map"></div>
<script>
    var map = L.map('map').setView([43.0424958,-77.2380954], 7);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
</script>
-->
{% endblock %}