{% extends "template.html" %}

{% block title %}2024 Palmyra NY Stake Conference - Saturday Evening Adult Session{% endblock %}

{% block content %}
<p class="text-center pt-8 font-bold">PALMYRA NEW YORK STAKE</p>
<p class="text-center font-bold">STAKE CONFERENCE</p>
<p class="text-center font-bold">SATURDAY EVENING ADULT SESSION</p>
<p class="text-center font-normal">SATURDAY, MAY 18, 2024<br />7:00 P.M. TO 8:30 P.M.</p>
<p class="text-center font-normal">PALMYRA NEW YORK STAKE CENTER</p>

<div class="p-8 overflow-auto relative ">
    <table class="table-auto border-separate border-spacing-y-8 font-normal w-full">
        <tbody>
            <tr>
                <td class="text-left">Presiding:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank"
                        href="https://www.churchofjesuschrist.org/learn/allen-d-haynie?lang=eng">Elder Allen D.
                        Haynie</a><br /><i>Area President North America Northeast Area</i></td>
            </tr>
            <tr>
                <td class="text-left">Conducting:</td>
                <td class="text-right">President Chris L. Bjorling<br /><i>Palmyra Stake Presidency 1st Counselor</i>
                </td>
            </tr>
            <tr>
                <td class="text-left">Chorister:</td>
                <td class="text-right">Mary Petersen - <i>Mendon Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Organist:</td>
                <td class="text-right">Bob Whitehead - <i>Whitney Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Opening Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank"
                        href="https://www.churchofjesuschrist.org/media/music/songs/i-believe-in-christ?crumbs=hymns&lang=eng">#134,
                        <i>"I Believe in Christ"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Invocation:</td>
                <td class="text-right">Hannah Anderson - <i>Bath Branch</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">President Chris L. Bjorling<br /><i>Palmyra Stake Presidency 1st Counselor</i>
                </td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">President Mindy York<br /><i>Palmyra Stake Relief Society President</i></td>
            </tr>
            <tr>
                <td class="text-left">Musical Number:</td>
                <td class="text-right"><i>"Come Come ye Saints"</i> - Elizabeth Mayo</td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank"
                        href="https://www.thechurchnews.com/2021/2/4/23218184/temple-president-matron-8-billings-argentina-brazil-palmyra-provo-mexico-chile-manaus-fortaleza/">President
                        Neil Pitts &amp; Sister Beverly Pitts</a><br /><i>Palmyra Temple President and Matron</i></td>
            </tr>
            <tr>
                <td class="text-left">Intermediate Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank"
                        href="https://www.churchofjesuschrist.org/media/music/songs/how-firm-a-foundation?crumbs=hymns&lang=eng">#85,
                        <i>"How Firm a Foundation"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Elder Alan D. Haynie &amp; Sister Deborah Haynie<br /><i>Area President North
                        America Northeast Area</i></td>
            </tr>
            <tr>
                <td class="text-left">Closing Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank"
                        href="https://www.churchofjesuschrist.org/media/music/songs/i-know-that-my-redeemer-lives?crumbs=hymns&lang=eng">#136,
                        <i>"I Know that My Redeemer Lives"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Benediction:</td>
                <td class="text-right">President Carlee Azure<br /><i>Palmyra YSA Branch Relief Society President</i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}