{% extends "template.html" %}

{% block title %}2024 Palmyra NY Stake Conference - General Session{% endblock %}

{% block content %}
<p class="text-center pt-8 font-bold">PALMYRA NEW YORK STAKE</p>
<p class="text-center font-bold">STAKE CONFERENCE</p>
<p class="text-center font-bold">GENERAL SESSION</p>
<p class="text-center font-normal">SUNDAY, MAY 19, 2024<br />10:00 A.M. TO 12:00 P.M.</p>
<p class="text-center font-normal">PALMYRA NEW YORK STAKE CENTER</p>
<p class="p-8">
    <center><img class="shadow-md" src="{{ url_for('static', path='/temple.jpg') }}" /></center>
</p>
<table class="border-separate p-8 border-separate font-normal w-full">
    <tr>
        <td class="text-center font-bold">"The temple <i>is</i> the gateway to the greatest blessings God has in store
            for each of us, for the temple is the only place on earth where we may receive <i>all</i> of the blessings
            promised to Abraham."</td>
    </tr>
    <tr>
        <td class="text-right font-bold">Russell M. Nelson</td>
    </tr>
</table>

<div class="p-8 overflow-auto relative ">
    <table class="table-auto border-separate border-spacing-y-8 font-normal w-full">
        <tbody>
            <tr>
                <td class="text-left">Presiding:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank"
                        href="https://www.churchofjesuschrist.org/learn/allen-d-haynie?lang=eng">Elder Allen D.
                        Haynie</a><br /><i>Area President North America Northeast Area</i></td>
            </tr>
            <tr>
                <td class="text-left">Conducting:</td>
                <td class="text-right">President Robert R. Mayo<br /><i>Palmyra Stake Presidency 2nd Counselor</i></td>
            </tr>
            <tr>
                <td class="text-left">Chorister:</td>
                <td class="text-right">Jessica Vance - <i>Palmyra Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Organist:</td>
                <td class="text-right">Jessica Pierson - <i>Mendon Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Welcome:</td>
                <td class="text-right">President Robert R. Mayo<br /><i>Palmyra Stake Presidency 2nd Counselor</i></td>
            </tr>
            <tr>
                <td class="text-left">Opening Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank"
                        href="https://www.churchofjesuschrist.org/media/music/songs/the-lord-is-my-light?crumbs=hymns&lang=eng">#89,
                        <i>"The Lord Is My Light"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Invocation:</td>
                <td class="text-right">Suzette Campnell - <i>Boughton Hill Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Stake Business:</td>
                <td class="text-right">President Robert R. Mayo<br /><i>Palmyra Stake Presidency 2nd Counselor</i></td>
            </tr>
            <tr>
                <td class="text-left">Musical Number:</td>
                <td class="text-right"><i>"I Feel my Savior's Love"</i> - Stake Primary Choir</td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">President Edmund S. Nabrotzky<br /><i>Palmyra Stake President</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Grace Bylund - <i>Mendon Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Jacques Figaro - <i>Penn Yan Branch</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Rosemary Christensen - <i>Whitney Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank"
                        href="https://newsroom.churchofjesuschrist.org/article/church-historic-sites-leaders-who-will-begin-serving-2024">President
                        Thomas B. McCoy &amp; Sister Lani Jo McCoy</a><br /><i>New York and Pennsylvania Historic Sites
                        Mission</i></td>
            </tr>
            <tr>
                <td class="text-left">Intermediate Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank"
                        href="https://www.churchofjesuschrist.org/media/music/songs/redeemer-of-israel?crumbs=hymns&lang=eng">#6,
                        <i>"Redeemer of Israel"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank"
                        href="https://www.thechurchnews.com/2021/1/16/23265244/16-new-mission-presidents-companions-ghana-colombia-korea-japan-norway-england/">President
                        Evan Gentry &amp; Sister Sandi Gentry</a><br /><i>New York Syracuse Mission</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Elder Alan D. Haynie &amp; Sister Deborah Haynie<br /><i>Area President North
                        America Northeast Area</i></td>
            </tr>
            <tr>
                <td class="text-left">Closing Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank"
                        href="https://www.churchofjesuschrist.org/media/music/songs/o-thou-rock-of-our-salvation?crumbs=hymns&lang=eng">#
                        258 <i>"O, Thou Rock of Our Salvation"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Benediction:</td>
                <td class="text-right">Emily Underwood - <i>Canandaigua Ward</i></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}