{% extends "template.html" %}

{% block title %}Palmyra NY Stake Conference - Saturday Evening Adult Session{% endblock %}

{% block content %}
<p class="text-center pt-8 font-bold">PALMYRA NEW YORK STAKE</p>
<p class="text-center font-bold">STAKE CONFERENCE</p>
<p class="text-center font-bold">SATURDAY EVENING ADULT SESSION</p>
<p class="text-center font-normal">SATURDAY, MAY 16, 2026<br />7:00 P.M. TO 8:30 P.M.</p>
<p class="text-center font-normal">PALMYRA NEW YORK STAKE CENTER</p>

<div class="p-8 overflow-auto relative ">
    <table class="table-auto border-separate border-spacing-y-8 font-normal w-full">
        <tbody>
            <tr>
                <td class="text-left">Presiding:</td>
                <td class="text-right"><a  class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/learn/robert-m-daines?lang=eng">Elder Robert M. Daines</a><br /><i class="smaller">General Authority Seventy</i></td>
            </tr>
            <tr>
                <td class="text-left">Attending:</td>
                <td class="text-right">Elder Rhett R. Hintze<br /><i class="smaller">Area Authority Seventy</i></td>
            </tr>
            <tr>
                <td class="text-left">Conducting:</td>
                <td class="text-right">President Christopher Bjorling<br /><i class="smaller">Palmyra Stake Presidency 1st Counselor</i></td>
            </tr>
            <tr>
                <td class="text-left">Chorister:</td>
                <td class="text-right">Susan Collie<br /><i class="smaller">Palmyra Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Organist:</td>
                <td class="text-right">Cindy Maracle<br /><i class="smaller">Boughton Hill Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Welcome:</td>
                <td class="text-right">President Christopher Bjorling<br /><i class="smaller">Palmyra Stake Presidency 1st Counselor</i></td>
            </tr>
            <tr>
                <td class="text-left">Opening Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/study/manual/hymns/lord-i-would-follow-thee?lang=eng">#220, <i>"Savior May I Learn to Love Thee"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Invocation:</td>
                <td class="text-right">Jared Bjorling</td>
            </tr>
            <tr>
                <td class="text-left">Musical Number:</td>
                <td class="text-right"><i>"Oh the Deep, Deep Love of Jesus"</i><br/><i class="smaller">Lyons Ward Choir</i></td>
            </tr>
            <tr>
                <td class="text-left">Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/media/music/songs/our-saviors-love?lang=eng">#113, <i>Our Savior's Love</i> - 1 verse</a></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Bowe Hawkins<br /><i class="smaller">Boughton Hill Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Blake &amp; Kirstin Johnson<br /><i class="smaller">Penn Yan Branch</i></td>
            </tr>
            
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Larry &amp; Linda Riker<br /><i class="smaller">Whitney Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/media/music/songs/i-need-thee-every-hour?lang=eng">#98, <i>"I Need Thee Every Hour"</i> - 1 verse</a></td>
            </tr>
            <!--
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Erica Jacob<br /><i class="smaller">Palmyra Ward</i></td>
            </tr>
            -->
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Terrance &amp; Charlotte Robinson<br /><i class="smaller">Palmyra Stake Patriarch &amp; Scribe</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Lauretta &amp; Ian Whatcott<br /><i class="smaller">Hornell Branch</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Elder Rhett R. Hintze<br /><i class="smaller">Area Authority Seventy</i></td>
            </tr>
            <tr>
                <td class="text-left">Closing Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank"
                        href="https://www.churchofjesuschrist.org/media/music/songs/i-feel-my-saviors-love?lang=eng"><i>"I Feel my Savior's Love"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Benediction:</td>
                <!--<td class="text-right">Abby Johnson<br /><i class="smaller">Palmyra YSA Branch</i></td>-->
                <td class="text-right">Sophia Bastos</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}