{% extends "template.html" %}

{% block title %}Palmyra NY Stake Conference - Saturday Evening Adult Session{% endblock %}

{% block content %}
<p class="text-center pt-8 font-bold">PALMYRA NEW YORK STAKE</p>
<p class="text-center font-bold">STAKE CONFERENCE</p>
<p class="text-center font-bold">SATURDAY EVENING ADULT SESSION</p>
<p class="text-center font-normal">SATURDAY, MAY 17, 2025<br />6:30 P.M. TO 8:00 P.M.</p>
<p class="text-center font-normal">PALMYRA NEW YORK STAKE CENTER</p>

<div class="p-8 overflow-auto relative ">
    <table class="table-auto border-separate border-spacing-y-8 font-normal w-full">
        <tbody>
            <tr>
                <td class="text-left">Presiding:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank"
                        href="https://www.churchofjesuschrist.org/learn/mathias-held?lang=eng">Elder Mathias Held</a><br /><i>of the Seventy</i></td>
            </tr>
            <tr>
                <td class="text-left">Conducting:</td>
                <td class="text-right">President Robert R. Mayo<br /><i>Palmyra Stake Presidency 2nd Counselor</i></td>
            </tr>
            <tr>
                <td class="text-left">Chorister:</td>
                <td class="text-right">Donell Cox - <i>Lyons Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Organist:</td>
                <td class="text-right">Rachel Nichols - <i>Mendon Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Opening Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/media/music/songs/hope-of-israel?lang=eng">#259, <i>"Hope of Israel"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Invocation:</td>
                <td class="text-right">Jaclyn McLean - <i>Mendon Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">President Chris L. Bjorling<br /><i>Palmyra Stake Presidency 1st Counselor</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">President Nancy Lewis<br /><i>Palmyra Stake Primary President</i></td>
            </tr>
            <tr>
                <td class="text-left">Musical Number:</td>
                <td class="text-right"><i>"Be Still My Soul"</i><br/>Men's Choir, director Greg Crystal, accompanied by Heidi Bjorling</td>
            </tr>
            <tr>
                <td class="text-left">Testimony:</td>
                <td class="text-right">Jackie Lonergan - <i>Canandaigua Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Speakers:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank" href="https://www.thechurchnews.com/callings/2024/2/16/24071304/16-new-mission-presidents-and-companions-serving-around-the-world-from-texas-to-taiwan/">President Kory E. &amp; Sister Carolie Coleman</a><br /><i>New York Syracuse Mission Leaders</i></td>
            </tr>
            <tr>
                <td class="text-left">Musical Number:</td>
                <td class="text-right"><i>"Savior of My Soul"</i><br/>Trelaina Mobley-voice, accompanied by Heidi Bjorling</td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Elder Mathias Held<br /><i>of the Seventy</i></td>
            </tr>
            <tr>
                <td class="text-left">Closing Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/media/music/songs/sweet-is-the-work?lang=eng">#149, <i>"Sweet Is the Work"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Benediction:</td>
                <td class="text-right">Jodi Taylor - <i>Palmyra Ward</i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}