{% extends "template.html" %}

{% block title %}Palmyra NY Stake Conference - General Session{% endblock %}

{% block content %}
<p class="text-center pt-8 font-bold">PALMYRA NEW YORK STAKE</p>
<p class="text-center font-bold">STAKE CONFERENCE</p>
<p class="text-center font-bold">GENERAL SESSION</p>
<p class="text-center font-normal">SUNDAY, NOVEMBER 9, 2025<br />10:00 A.M. TO 12:00 P.M.</p>
<p class="text-center font-normal">PALMYRA NEW YORK STAKE CENTER</p>
<p class="p-8">
    <center><img class="shadow-md" src="{{ url_for('static', path='/christ.jpg') }}" /></center>
</p>
<table class="border-separate p-8 border-separate font-normal w-full">
    <tr>
        <td class="text-center font-bold">"One of the most Godlike expressions of the human soul is the act of
            forgiveness. Everyone is wronged at some point by someone, and many suffer serious wrongs. Christians
            everywhere stand in awe of those pioneers who have climbed that steep slope to the spiritual summit attained
            by those who have heeded the Savior’s command to forgive all men. Forgiveness is mortality’s mirror image of
            the mercy of God."</td>
    </tr>
    <tr>
        <td class="text-right font-bold">Dallin H. Oaks</td>
    </tr>
</table>

<div class="p-8 overflow-auto relative ">
    <table class="table-auto border-separate border-spacing-y-8 font-normal w-full">
        <tbody>
            <tr>
                <td class="text-left">Presiding &amp; Conducting:</td>
                <td class="text-right">President Edmund Nabrotzky<br /><i class="smaller">Palmyra Stake President</i>
                </td>
            </tr>
            <tr>
                <td class="text-left">Prelude</td>
                <td class="text-right">
                    <i>"Come Ye Thankful People"</i><br />
                    <i>"For The Beauty Of The Earth"</i><br />
                    <i class="smaller">Choral Ensemble from Canandaigua, Boughton Hill, & Fayette Wards</i>
                </td>
            </tr>
            <tr>
                <td class="text-left">Chorister:</td>
                <td class="text-right">Janet Sorenson<br /><i class="smaller">Mendon Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Organist:</td>
                <td class="text-right">Mary Petersen<br /><i class="smaller">Mendon Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Welcome:</td>
                <td class="text-right">President Edmund Nabrotzky<br /><i class="smaller">Palmyra Stake President</i>
                </td>
            </tr>
            <tr>
                <td class="text-left">Musical Number:</td>
                <td class="text-right"><i>"I Will Walk With Jesus"</i><br /><i class="smaller">Palmyra Stake Youth</i>
                </td>
            </tr>
            <tr>
                <td class="text-left">Opening Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank"
                        href="https://www.churchofjesuschrist.org/media/music/songs/guide-me-to-thee?crumbs=hymns&lang=eng">#101,
                        <i>"Guide Me to Thee"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Invocation:</td>
                <td class="text-right">Sandy Graham<br /><i class="smaller">Lyons Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Stake Business:</td>
                <td class="text-right">President Edmund Nabrotzky<br /><i class="smaller">Palmyra Stake President</i>
                </td>
            </tr>
            <tr>
                <td class="text-left">Speakers:</td>
                <td class="text-right">President Robert &amp; Karin Mayo<br /><i class="smaller">Mendon Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Allegra Crystal<br /><i class="smaller">Canandaigua Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Wendell Anderson<br /><i class="smaller">Bath Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Mikal Smith<br /><i class="smaller">Canandaigua Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Roscoe Broadbent<br /><i class="smaller">Whitney Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Naomi Bernfeld<br /><i class="smaller">Hornell Branch</i></td>
            </tr>
            <tr>
                <td class="text-left">Speakers:</td>
                <td class="text-right">Bob &amp; Ivana Wilson<br /><i class="smaller">Lyons Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Dylan Vance<br /><i class="smaller">Palmyra Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Julia Sorensen<br /><i class="smaller">Whitney Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Grant Jacob<br /><i class="smaller">Palmyra Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Musical Number:</td>
                <td class="text-right"><i>"How Firm a Foundation"</i><br /><i class="smaller">Mendon Ward Choir</i></td>
            </tr>
            <tr>
                <td class="text-left">Speakers:</td>
                <td class="text-right">President Chris &amp; Heidi Bjorling<br /><i class="smaller">Canandaigua Ward</i>
                </td>
            </tr>
            <tr>
                <td class="text-left">Speakers:</td>
                <td class="text-right">Cody &amp; Merry Braithwaite<br /><i class="smaller">Boughton Hill Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Kirstin Johnson<br /><i class="smaller">Palmyra Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Kathy Voelkers<br /><i class="smaller">Palmyra Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Becky Buffum<br /><i class="smaller">Mendon Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">John Cleere<br /><i class="smaller">Fayette Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Diane Adams<br /><i class="smaller">Mendon Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Intermediate Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank"
                        href="https://www.churchofjesuschrist.org/media/music/songs/arise-o-glorious-zion?crumbs=hymns&lang=eng">#40,
                        <i>"Arise, O Glorious Zion"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Terence Robinson<br /><i class="smaller">the Patriarch</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Claire Nabrotzky<br /><i class="smaller">Mendon Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">President Edmund Nabrotzky<br /><i class="smaller">Palmyra Stake President</i>
                </td>
            </tr>
            <tr>
                <td class="text-left">Closing Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank"
                        href="https://www.churchofjesuschrist.org/media/music/songs/when-faith-endures?crumbs=hymns&lang=eng">#128,
                        <i>"When Faith Endures"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Benediction:</td>
                <td class="text-right">Ken Hermann<br /><i class="smaller">Mendon Ward</i></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="p-8 overflow-auto relative ">
    <table class="table-auto border-separate border-spacing-y-4 font-normal w-full sm:text-1xl sm:border-spacing-y-2">
        <tbody>
            <tr>
                <th colspan="4">Missionaries Called and Serving from the Palmyra, NY Stake</th>
            </tr>
            <tr class="text-left">
                <th>Name</th>
                <th>Ward</th>
                <th>Mission</th>
                <th>Start Date</th>
            </tr>
            <tr class="text-left">
                <td>Sister Ava Hawkins</td>
                <td>Boughton Hill</td>
                <td>California Sacramento</td>
                <td>Sep-24</td>
            </tr>
            <tr class="text-left">
                <td>Sister Grace Woodworth</td>
                <td>Boughton Hill</td>
                <td>Brazil Santa Maria</td>
                <td>Sep-24</td>
            </tr>
            <tr class="text-left">
                <td>Elder Jared Bjorling</td>
                <td>Canandaigua</td>
                <td>England Leeds</td>
                <td>Aug-23</td>
            </tr>
            <tr class="text-left">
                <td>Elder Lehi Weed</td>
                <td>Canandaigua</td>
                <td>Colorado Denver South</td>
                <td>Jun-23</td>
            </tr>
            <tr class="text-left">
                <td>Elder Jude York</td>
                <td>Canandaigua</td>
                <td>Guatemala Quetzaltenango</td>
                <td>Jul-24</td>
            </tr>
            <tr class="text-left">
                <td>Elder Ethan Rossell</td>
                <td>Lyons</td>
                <td>Washington Yakima</td>
                <td>Oct-24</td>
            </tr>
            <tr class="text-left">
                <td>Sister Rachel Newcomb</td>
                <td>Mendon</td>
                <td>New York Syracuse</td>
                <td>Mar-24</td>
            </tr>
            <tr class="text-left">
                <td>Sister Gretha Fergus</td>
                <td>Mendon</td>
                <td>Denmark Copenhagen</td>
                <td>Jun-24</td>
            </tr>
            <tr class="text-left">
                <td>Elder Joseph Webster</td>
                <td>Mendon</td>
                <td>Utah Ogden</td>
                <td>Oct-24</td>
            </tr>
            <tr class="text-left">
                <td>Elder Joseph Leyva</td>
                <td>Palmyra</td>
                <td>Arizona Flagstaff</td>
                <td>Nov-22</td>
            </tr>
            <tr class="text-left">
                <td>Elder Dylan Vance</td>
                <td>Palmyra</td>
                <td>Peru Chiclayo</td>
                <td>Oct-23</td>
            </tr>
            <tr class="text-left">
                <td>Elder Nicolas Vance</td>
                <td>Palmyra</td>
                <td>Argentina Buenos Aires North</td>
                <td>Nov-24</td>
            </tr>
            <tr class="text-left">
                <td>Sister Lydia Campbell</td>
                <td>Whitney</td>
                <td>Brazil Ribeirao Preto</td>
                <td>Feb-24</td>
            </tr>
            <tr class="text-left">
                <td>Elder Landon Ruder</td>
                <td>Whitney</td>
                <td>Argentina Resistencia</td>
                <td>Aug-24</td>
            </tr>
            <tr class="text-left">
                <td>Elder Caleb Silva</td>
                <td>Whitney</td>
                <td>New York Syracuse</td>
                <td>Jan-25</td>
            </tr>
            <tr>
                <th colspan="4" class="text-left">Senior Missionaries</th>
            </tr>
            <tr class="text-left">
                <th>Name</th>
                <th>Ward</th>
                <th>Mission</th>
                <th>Start Date</th>
            </tr>
            <tr class="text-left">
                <td>Elder &amp; Sister Whitcomb</td>
                <td>Boughton Hill</td>
                <td>Bishops Storehouse</td>
                <td>Jan-24</td>
            </tr>
            <tr class="text-left">
                <td>Elder &amp; Sister Nichols</td>
                <td>Canandaigua</td>
                <td>Bishops Storehouse Assistants</td>
                <td>Apr-24</td>
            </tr>
            <tr class="text-left">
                <td>Sister Jones</td>
                <td>Fayette</td>
                <td>Seneca Lake Camp</td>
                <td>Jun-24</td>
            </tr>
            <tr class="text-left">
                <td>Elder Hansen</td>
                <td>Palmyra</td>
                <td>Family Search Service Missionary</td>
                <td>Jun-23</td>
            </tr>
            <tr class="text-left">
                <td>Elder &amp; Sister Harmer</td>
                <td>Palmyra</td>
                <td>Seneca Lake Camp</td>
                <td>Apr-24</td>
            </tr>
            <tr class="text-left">
                <td>Elder Reynolds &amp; Sister Diaz-Reynolds</td>
                <td>Palmyra</td>
                <td>New York Syracuse</td>
                <td>Apr-24</td>
            </tr>

            <tr class="text-left">
                <td>Sister Stuetz</td>
                <td>Whitney</td>
                <td>Santiago Chile North</td>
                <td>Sep-24</td>
            </tr>
            <tr class="text-left">
                <td>Sister Cary</td>
                <td>Whitney</td>
                <td>New York Syracuse</td>
                <td>Jun-24</td>
            </tr>
            <tr>
                <th colspan="4">Missionaries Called and Preparing to Serve</th>
            </tr>
            <tr class="text-left">
                <th>Name</th>
                <th>Ward</th>
                <th>Mission</th>
                <th>Start Date</th>
            </tr>
            <tr class="text-left">
                <td>Taryn Bjorling</td>
                <td>Canandaigua</td>
                <td>Finland Helsinki</td>
                <td>Jun-25</td>
            </tr>
            <tr class="text-left">
                <td>Cora Haffner</td>
                <td>Lyons</td>
                <td>Japan Nagoya</td>
                <td>Jul-25</td>
            </tr>

            <tr class="text-left">
                <td>Grace Bylund</td>
                <td>Mendon</td>
                <td>New Zealand Auckland</td>
                <td>Aug-25</td>
            </tr>
            <tr class="text-left">
                <td>Malachi Young</td>
                <td>Mendon</td>
                <td>Brazil Rio de Janeiro</td>
                <td>Jul-25</td>
            </tr>
            <tr class="text-left">
                <td>James Christensen</td>
                <td>Whitney</td>
                <td>Romania Bucharest</td>
                <td>May-25</td>
            </tr>
            <tr class="text-left">
                <td>Liam Forsgren</td>
                <td>Whitney</td>
                <td>Arizona Tempe</td>
                <td>Jul-25</td>
            </tr>
            <tr>
                <td colspan="4" class="text-center roboto-bold-italic">We express love and appreciation for all those
                    serving missions from our stake, but also to those serving in our stake as temple, site, camp,
                    specialist and proselytizing missionaries. Thank you for your consecrated and inspiring service to
                    us.</td>
            </tr>
            <tr>
                <td colspan="4" class="text-center roboto-bold-italic">Note that we also acknowledge and appreciate that
                    several of our members have stepped forward to serve in the military to protect our country. Our
                    grateful prayers are with you.</td>
            </tr>
        </tbody>
    </table>
</div>





<!--
<div id="map"></div>
<script>
    var map = L.map('map').setView([43.0424958,-77.2380954], 7);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
</script>
-->
{% endblock %}