{% extends "template.html" %}

{% block title %}Palmyra NY Stake Conference - Adult Leadership Session{% endblock %}

{% block content %}
<p class="text-center pt-8 font-bold">PALMYRA NEW YORK STAKE</p>
<p class="text-center font-bold">STAKE CONFERENCE</p>
<p class="text-center font-bold">ADULT LEADERSHIP SESSION</p>
<p class="text-center font-normal">SATURDAY, MAY 16, 2026<br />4:00 P.M. TO 5:30 P.M.</p>
<p class="text-center font-normal">PALMYRA NEW YORK STAKE CENTER</p>

<div class="p-8 overflow-auto relative ">
    <table class="table-auto border-separate border-spacing-y-8 font-normal w-full">
        <tbody>
            <tr>
                <td class="text-left">Presiding:</td>
                <td class="text-right"><a  class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/learn/robert-m-daines?lang=eng">Elder Robert M. Daines</a><br /><i class="smaller">General Authority Seventy</i></td>
            </tr>
            <tr>
                <td class="text-left">Attending:</td>
                <td class="text-right">Elder Rhett R. Hintze<br /><i class="smaller">Area Authority Seventy</i></td>
            </tr>
            <tr>
                <td class="text-left">Conducting:</td>
                <td class="text-right">President Jeff Campbell<br /><i class="smaller">Palmyra Stake Presidency 2nd Counselor</i></td>
            </tr>
            <tr>
                <td class="text-left">Chorister:</td>
                <td class="text-right">Chris Bergmark<br /><i class="smaller">Boughton Hill Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Organist:</td>
                <td class="text-right">Cindy Maracle<br /><i class="smaller">Boughton Hill Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Welcome:</td>
                <td class="text-right">President Jeff Cambell<br /><i class="smaller">Palmyra Stake Presidency 2nd Counselor</i></td>
            </tr>
            <tr>
                <td class="text-left">Opening Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/media/music/songs/how-gentle-gods-commands?lang=eng">#125, <i>"How Gentle God's Commands"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Invocation:</td>
                <td class="text-right">President Mindy York<br /><i class="smaller">Palmyra Stake Relief Society President</i></td>
            </tr>
            <tr>
                <td class="text-left">Instruction:</td>
                <td class="text-right">Elder Robert M. Daines<br /><i class="smaller">General Authority Seventy</i></td>
            </tr>
            <tr>
                <td class="text-left">Breakout Sessions:</td>
                <td class="text-right">Unit Councils</td>
            </tr>
            <tr>
                <td class="text-left">Regroup:</td>
                <td class="text-right">President Nancy Lewis<br /><i class="smaller">Palmyra Stake Primary President</i></td>
            <tr>
                <td class="text-left">Breakout Sessions:</td>
                <td class="text-right">Unit Councils</td>
            </tr>
            <tr>
                <td class="text-left">Regroup:</td>
                <td class="text-right">Elder Robert M. Daines<br /><i class="smaller">General Authority Seventy</i></td>
            <tr>
            <tr>
                <td class="text-left">Closing Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/media/music/songs/let-us-all-press-on?lang=eng">#243 <i>"Let Us All Press On"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Benediction:</td>
                <td class="text-right">Paulette Kealy<br /><i class="smaller">Palmyra Stake Relief Society Counselor</i></td>
            </tr>
        </tbody>
    </table>
    <p class="p-8">
        <center>
            <b>BREAKOUT LOCATIONS</b><br/>
Bath - Available Classroom<br/>
Boughton Hill - Young Women's Room<br/>
Canandaigua - Primary<br/>
Fayette - Relief Society Room<br/>
Hornell - Available Classroom<br/>
Lyons - Stage<br/>
Mendon - High Council Room<br/>
Palmyra - Bishop's Office<br/>
Palmyra YSA - BP's Office<br/>
Penn Yan - Available Classroom<br/>
Whitney - Chapel Overflow
        </center>
    </p>
</div>
{% endblock %}