{% extends "template.html" %}

{% block title %}Palmyra NY Stake Conference - Adult Leadership Session{% endblock %}

{% block content %}
<p class="text-center pt-8 font-bold">PALMYRA NEW YORK STAKE</p>
<p class="text-center font-bold">STAKE CONFERENCE</p>
<p class="text-center font-bold">ADULT LEADERSHIP SESSION</p>
<p class="text-center font-normal">SATURDAY, NOVEMBER 8, 2025<br />4:00 P.M. TO 5:30 P.M.</p>
<p class="text-center font-normal">PALMYRA NEW YORK STAKE CENTER</p>

<div class="p-8 overflow-auto relative ">
    <table class="table-auto border-separate border-spacing-y-8 font-normal w-full">
        <tbody>
            <tr>
                <td class="text-left">Presiding:</td>
                <td class="text-right">President Edmund S. Nabrotzky<br /><i class="smaller">Palmyra Stake President</i>
                </td>
            </tr>
            <tr>
                <td class="text-left">Conducting:</td>
                <td class="text-right">President Robert R. Mayo<br /><i class="smaller">Palmyra Stake Presidency 2nd Counselor</i></td>
            </tr>
            <tr>
                <td class="text-left">Chorister:</td>
                <td class="text-right">Donnell Cox<br /><i class="smaller">Lyons Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Organist:</td>
                <td class="text-right">Eric Haffner<br /><i class="smaller">Lyons Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Welcome:</td>
                <td class="text-right">President Robert R. Mayo<br /><i class="smaller">Palmyra Stake Presidency 2nd Counselor</i></td>
            </tr>
            <tr>
                <td class="text-left">Opening Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/media/music/songs/come-follow-me?crumbs=hymns&lang=eng">#116, <i>"Come, Follow Me"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Invocation:</td>
                <td class="text-right">President Mindy York<br /><i class="smaller">Palmyra Stake Relief Society President</i></td>
            </tr>
            <tr>
                <td class="text-left">Opening Remarks:</td>
                <td class="text-right">President Edmund S. Nabrotzky<br /><i class="smaller">Palmyra Stake President</i>
                </td>
            <tr>
                <td class="text-left">Breakout Sessions:</td>
                <td class="text-right"></td>
            </tr>
            <tr>
                <td class="text-left">Closing Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/media/music/songs/lord-i-would-follow-thee?crumbs=hymns&lang=eng">#220 <i>"Lord, I Would Follow Thee"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Benediction:</td>
                <td class="text-right"><br /><i class="smaller"></i></td>
            </tr>
        </tbody>
    </table>
    <p class="p-8">
        <center><img class="shadow-md" src="{{ url_for('static', path='/map.png') }}" /></center>
    </p>
</div>
{% endblock %}