{% extends "template.html" %}

{% block title %}Palmyra NY Stake Conference - Adult Leadership Session{% endblock %}

{% block content %}
<p class="text-center pt-8 font-bold">PALMYRA NEW YORK STAKE</p>
<p class="text-center font-bold">STAKE CONFERENCE</p>
<p class="text-center font-bold">ADULT LEADERSHIP SESSION</p>
<p class="text-center font-normal">SUNDAY, MAY 18, 2025<br />8:00 A.M. TO 9:45 A.M.</p>
<p class="text-center font-normal">PALMYRA NEW YORK STAKE CENTER</p>

<div class="p-8 overflow-auto relative ">
    <table class="table-auto border-separate border-spacing-y-8 font-normal w-full">
        <tbody>
            <tr>
                <td class="text-left">Presiding:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank"
                        href="https://www.churchofjesuschrist.org/learn/mathias-held?lang=eng">Elder Mathias Held</a><br /><i>of the Seventy</i></td>
            </tr>
            <tr>
                <td class="text-left">Conducting:</td>
                <td class="text-right">President Chris L. Bjorling<br /><i>Palmyra Stake Presidency 1st Counselor</i></td>
            </tr>
            <tr>
                <td class="text-left">Chorister:</td>
                <td class="text-right">Anneke Wheeler - <i>Penn Yan Branch</i></td>
            </tr>
            <tr>
                <td class="text-left">Organist:</td>
                <td class="text-right">Cindy Panike - <i>Boughton Hill Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Welcome &amp; Announcements:</td>
                <td class="text-right">President Christopher Bjorling</td>
            </tr>
            <tr>
                <td class="text-left">Opening Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/media/music/songs/welcome-welcome-sabbath-morning?lang=eng">#280, <i>"Welcome, Welcome Sabbath Morning"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Invocation:</td>
                <td class="text-right">Brian Edgerton<br /><i>Fayette Elders Quorum 1st Counselor</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">President Robert Mayo<br /><i>Palmyra Stake Presidency 2nd Counselor</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Tim Whitcomb<br/><i>Boughton Hill Ward Elders Quorum President</i></td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">President Mindy York<br/><i>Palmyra Stake Relief Society President</i></td>
            </tr>
            <tr>
                <td class="text-left">Musical Number:</td>
                <td class="text-right"><i>"Greater Miracles"</i><br/>Susan Collie-voice, accompanied by Tony Collie</td>
            </tr>
            <tr>
                <td class="text-left">Speaker:</td>
                <td class="text-right">Elder Mathias Held<br /><i>of the Seventy</i></td>
            </tr>
            <tr>
                <td class="text-left">Closing Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/media/music/songs/come-all-ye-saints-of-zion?lang=eng">#38 <i>"Come all Ye Saints of Zion"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Benediction:</td>
                <td class="text-right">Sheila Cope<br/><i>Palmyra Stake Relief Society 2nd Counselor</i></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}