{% extends "template.html" %}

{% block title %}Palmyra NY Stake Conference - Youth Devotional{% endblock %}

{% block content %}
<p class="text-center pt-8 font-bold">PALMYRA NEW YORK STAKE</p>
<p class="text-center font-bold">STAKE CONFERENCE</p>
<p class="text-center font-bold">YOUTH DEVOTIONAL</p>
<p class="text-center font-normal">SATURDAY, MAY 17, 2026<br />8:00 A.M. TO 9:00 A.M.</p>
<p class="text-center font-normal">PALMYRA NEW YORK STAKE CENTER</p>

<div class="p-8 overflow-auto relative ">
    <table class="table-auto border-separate border-spacing-y-8 font-normal w-full">
        <tbody>
            <tr>
                <td class="text-left">Presiding:</td>
                <td class="text-right"><a  class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/learn/robert-m-daines?lang=eng">Elder Robert M. Daines</a><br /><i class="smaller">General Authority Seventy</i></td>
            </tr>
            <tr>
                <td class="text-left">Attending:</td>
                <td class="text-right">Elder Rhett R. Hintze<br /><i class="smaller">Area Authority Seventy</i></td>
            </tr>
            <tr>
                <td class="text-left">Conducting:</td>
                <td class="text-right">Marcus Haffner<br /><i class="smaller">Lyons Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Chorister:</td>
                <td class="text-right">Isabelle Anderson<br /><i class="smaller">Bath Branch</i></td>
            </tr>
            <tr>
                <td class="text-left">Pianist:</td>
                <td class="text-right">Savannah Capelo<br /><i class="smaller">Mendon Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Welcome:</td>
                <td class="text-right">Marcus Haffner<br /><i class="smaller">Lyons Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Opening Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/media/music/songs/i-will-walk-with-jesus?lang=eng">#1004, <i>"I Will Walk With Jesus"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Invocation:</td>
                <td class="text-right">Zeke Schaeffer<br /><i class="smaller">Canandaigua Ward</i></td>
            </tr>
            <tr>
                <td class="text-left">Speakers:</td>
                <td class="text-right">Elders Daines & Elder Hintze</td>
            </tr>
            <tr>
                <td class="text-left">Closing Hymn:</td>
                <td class="text-right"><a class="text-sky-600 underline" target="_blank" href="https://www.churchofjesuschrist.org/media/music/songs/called-to-serve?lang=eng">#249 <i>"Called to Serve"</i></a></td>
            </tr>
            <tr>
                <td class="text-left">Benediction:</td>
                <!--<td class="text-right">Savannah Nazelrod<br /><i class="smaller">Canandaigua Ward</i></td>-->
                <td class="text-right">To be Announced</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}